.container {
  min-width: 500px;
}

.main {
  display: flex;
  flex-direction: row;
}

.hit {
  border: 1px solid;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 10px;
}

.hits-container {
  flex: auto;
  min-width: 320px;
}

.hit:first-child {
  margin-top: 0;
}

.ais-SortBy {
  margin: 8px 0 8px;
}
