.links-container {
    display: flex;
    width: 40%;
  }
  
.links-container span {
  text-decoration: underline;
  color: #000;
  font-size: 15px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 8px;
  
}

.links-container span:hover {
  cursor: pointer;
}
  